<body>
  <h1 id="welcome">Welcome To Q And A</h1>
  <div class="form-div">
    <form class="px-4 py-3" [formGroup]="signupForm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Name</span>
        </div>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          placeholder="Full Name"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Email</span>
        </div>
        <input
          formControlName="username"
          type="email"
          class="form-control"
          placeholder="Email Address"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Password</span>
        </div>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Password"
        />
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Password</span>
        </div>
        <input
          formControlName="cpassword"
          type="password"
          class="form-control"
          placeholder="Confirm Password"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Mobile</span>
        </div>
        <input
          formControlName="mobile"
          type="text"
          class="form-control"
          placeholder="Mobile #"
        />
      </div>
      <button type="button" class="btn btn-primary" (click)="signup()">
        Sign Up
      </button>
      <p style="color: white;margin-bottom: 0;margin-top: 2%;">
        Already a member ? <a [routerLink]="['/users/login']">Sign In</a>
      </p>
    </form>
  </div>
</body>
