<html>
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: azure;"
  >
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a
            class="nav-link text-primary"
            href="http://localhost:4200/questions"
            >Home</a
          >
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:4200/questions/new"
            >Ask
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item active form-inline">
          <a class="nav-link text-primary" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <br />

  <div class="ask-question">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text">Category</label>
      </div>
      <select class="custom-select" name="category" [(ngModel)]="category">
        <option>Fashion</option>
        <option>Technology</option>
        <option>Politics</option>
      </select>
    </div>

    <div class="form-group">
      <textarea
        name="question"
        [(ngModel)]="question"
        class="form-control"
        rows="5"
        placeholder="Ask question here..."
      ></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="askQuestion(category, question)">
        Submit
      </button>
    </div>
    <small id="thankYou">Thank You. Your Question has been posted!</small>
  </div>
</html>
