<html>
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: azure;"
  >
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link " href="http://localhost:4200/home">Home</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link text-primary" href="http://localhost:4200/ask"
            >Ask
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link text-primary" href="http://localhost:4200/answer"
            >Answer
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item active form-inline">
          <a class="nav-link text-primary" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <br />
  <!-- <div class="select text-center">
    <select style="width: 10%;padding: 5px">
      <option selected disabled hidden>Category</option>
      <option
        name="Technology"
        [(ngModel)]="Technology"
        (click)="showContent(Technology)"
        >Technology</option
      >
      <option name="Fashion" onclick="showContent()">Fashion</option>
      <option name="Politics" onclick="showContent()">Politics</option>
    </select>
    <button class="btn-primary" style="border-radius:5px">Filter</button>
  </div> -->
</html>
