html {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("https://cdn.wallpapersafari.com/16/31/BEjUgV.jpeg");
  background-repeat: no-repeat;
  text-align: center;
}
