<html>
  <nav class="navbar navbar-expand-lg navbar-light" style="padding: 8px;">
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      style="border: 5px solid black;
      margin:0%;border-radius: 10px"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a
            class="nav-link "
            style="color: red"
            href="http://localhost:4200/questions"
            >Home</a
          >
        </li>

        <li class="nav-item active">
          <a
            class="nav-link text-white"
            href="http://localhost:4200/questions/new"
            >Ask
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item active form-inline">
          <a class="nav-link text-white" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <br />

  <div class="ask-question">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text">Read What Interests You!</label>
      </div>
      <select class="custom-select" name="filter" [(ngModel)]="filter">
        <option>Fashion</option>
        <option>Technology</option>
        <option>Politics</option>
      </select>
      <!-- <div class="input-group-append">
        <button
          class="btn btn-outline-secondary btn-light input-group-text"
          id="filterButton"
          (click)="filterByCategory(category)"
        >
          Filter
        </button>
      </div> -->
    </div>
  </div>

  <div class="question-container" *ngFor="let qa of quesAnsArray">
    <div
      class="card"
      style="width: 40rem;"
      *ngIf="qa.cName == filter || filter == 1"
    >
      <div class="card-body">
        <h5 class="card-title text-white" style="margin: 0%">
          {{ qa.question }}
        </h5>
      </div>
      <hr class="hr" />
      <ul
        class="list-group list-group-flush"
        *ngFor="let ans of answersArray"
        style="list-style-type: none"
      >
        <li
          *ngIf="qa._id == ans.questionId"
          style="font-family: 'Courier New', Courier, monospace;border: 1px black solid;border-radius:5px;margin:1%;padding: 1%"
          class="text-light"
        >
          {{ ans.answer }}
          <button
            class="btn btn-link"
            style="float: right;padding-bottom: 0;padding-top: 0;"
            (click)="editAnswer(ans.questionId, ans._id)"
          >
            Edit<i class="far fa-edit"></i>
          </button>
        </li>
      </ul>
      <div class="answer-here"></div>
      <div class="card-body" style="text-align: center;">
        <button
          class="card-link btn btn-link"
          (click)="navigateToAnswer(qa._id)"
        >
          Answer This Question
        </button>
      </div>
    </div>
  </div>
</html>
