html {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;

  /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav {
  background: #8e0e00;
  background: -webkit-linear-gradient(to right, #8e0e00, #1f1c18);
  background: linear-gradient(to right, #8e0e00, #1f1c18);
}
.card {
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  margin: 0 auto;
  float: none;
  margin-bottom: 3%;
  border: 5px solid black;
}

.ask-question-container {
  width: 100%;
  text-align: center;
}
.ask-question {
  width: 40rem;
  margin: 0 auto;
}

.card-body {
  padding: 2%;
}

.card-conatiner {
}
.hr {
  margin: 0% 0% 1% 0%;
  background-color: black;
}

.li-hr {
  background-color: black;
  width: 100%;
}
